WIREFLUID_RPC_URL=https://evm.wirefluid.com
BLOCKCHAIN_CHAIN_ID=92533

DEPLOYER_PRIVATE_KEY=0xYOUR_PRIVATE_KEY_HERE
PLATFORM_WALLET=0xYOUR_PLATFORM_FEE_WALLET
ORACLE_WALLET=0xORACLE_WALLET_ADDRESS

MBT_CONTRACT_ADDRESS=
MOMENTBID_CORE_ADDRESS=
EXCLUSION_MANAGER_ADDRESS=
ORACLE_CONTROLLER_ADDRESS=

EXPLORER_API_KEY=
